//
//  Staging.xcconfig
//  RickAndMorty
//
//  Created by Pedro Juan Baeza Gómez on 15/10/25.
//

PROTOCOL = https:/
BASE_URL = $(PROTOCOL)/rickandmortyapi.com/api

APP_NAME = Rick&Morty Staging
DISPLAY_NAME = Rick&Morty Staging
PRODUCT_BUNDLE_IDENTIFIER = com.pedrobaeza.nomasystems.RickAndMorty.staging
